---
layout: default
---

<article>
  {% include meta.html post=page %}
  {{ content }}
  <div class="more"><a href="javascript:history.back()">zur&uuml;ck</a></div>
  <noscript>Bei deaktiviertem JavaScript bitte den Zur&uuml;ck-Button des Browsers verwenden.</noscript>
  {% if page.comments != false and site.comments.isso or site.comments.disqus %}
    <hr>
    {% if site.comments.isso_domain %}<div id="isso-thread"></div>{% endif %}
    {% if site.comments.disqus_shortname %}<div id="disqus_thread"></div>{% endif %}
    <noscript>Please enable JavaScript to view comments.</noscript>
  {% endif %}
</article>
